<!-- top navigation -->
<div class="top_nav" data-turbolinks-permanent>

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        
      </div>
      <div class="nav pull-left" style="margin-top: 20px;">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"><%= I18n.locale %></button>
        <div id="myDropdown" class="dropdown-content">
          <% I18n.available_locales.each do |lang| %> 
            <%= link_to lang, admin_change_locale_path(lang) %> 
          <% end %>
        </div>
      </div>

      </div>
      <%= render "admin/blocks/user_section" %>
    </nav>
    
    
  </div>

</div>
<!-- /top navigation -->
<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
