<div class="col-md-3 left_col" data-turbolinks-permanent>
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a class="site_title">
        <span>TSUNAGU JAPAN</span>
      </a>
    </div>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <%= render "admin/blocks/menu_section" %>
    </div>
  </div>
</div>
<!-- /sidebar menu -->
