<ul class="nav navbar-nav navbar-right">
  <li class="">
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <i class="icon-user"></i>
      <%= current_user.username if current_user%>
      <span class=" fa fa-angle-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-usermenu pull-right">
      <li>
        <%= link_to destroy_user_session_url(locale: nil) do %>
          <span>Sign out</span>
        <% end %>
      </li>
    </ul>
  </li>
</ul>