/* ---------------------------------------------------------
Add common
----------------------------------------------------------*/
html,
body {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.5;
  color: $color_black;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

img {
  vertical-align: bottom;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*
.show-sp {
  display: none;
}
*/

/* ---------------------------------------------------------
animation
----------------------------------------------------------*/
@keyframes lineAnimation {
  0% {
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }

  51% {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }

  to {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@-webkit-keyframes lineAnimation {
  0% {
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }

  51% {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }

  to {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}
