@import "variables";
//
// Mixin
// --------------------------------------------------

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1)+$replace +str-replace(str-slice($string, $index + str-length($search)),
      $search,
      $replace );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

$formats: (
  otf: "opentype",
  ttf: "truetype"
);

@font-face {
  font-display: swap;
  font-family: quote($name);
  font-style: $style;
  font-weight: $weight;
  src: $path;
}
}

// Media Queries
@mixin mq($breakpoint: sm) {
  @if $breakpoint ==xs {
    @media screen and (min-width: 480px) {
      @content;
    }
  }

  @else if $breakpoint ==ms {
    @media screen and (min-width: 700px) {
      @content;
    }
  }

  @else if $breakpoint ==mms {
    @media screen and (max-width: 700px) {
      @content;
    }
  }

  @else if $breakpoint ==sm {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint ==mm {
    @media screen and (min-width: 960px) {
      @content;
    }
  }

  @else if $breakpoint ==md {
    @media screen and (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint ==lg {
    @media screen and (min-width: $base_width_pc) {
      @content;
    }
  }
}

// Fonts
@mixin ff_cmn() {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
}

// Keyframes
@keyframes lineAnimation {
  0% {
    transform-origin: right;
    transform: scaleX(1);
  }

  50% {
    transform-origin: right;
    transform: scaleX(0);
  }

  51% {
    transform-origin: left;
    transform: scaleX(0);
  }

  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}

%cmn_line_animation {
  animation: lineAnimation 0.4s ease-out 0s 1 both;
}

@mixin cmn_transition($prop) {
  transition: #{$prop} linear 0.2s;
}

%hide_text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%hide_text_inner {
  display: block;
  width: 100%;
  height: 100%;
}

%fixed_btn_shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

%clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  display: block;

  &:before {
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

@mixin selectNone {
  //選択制御
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
