@import "../base/variables";
@import "../base/mixins";
$screen-sm-min: 768px;

.blog-entry {
  h3 {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 5px;
    border-left: 3px $color_yellow solid;
    padding-bottom: 5px;
  }

  h4 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;

    &.btn {
      text-decoration: none;
    }
  }

  ul,
  ol {
    list-style-position: inside;

    a {
      text-decoration: none;
    }
  }

  iframe {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    height: auto !important;
  }

  table {
    @media (max-width: $screen-sm-min) {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      width: 100% !important;
    }

    tbody {
      @media (max-width: $screen-sm-min) {
        width: 100%;
        display: table;
      }
    }
  }
    &+div {
      margin-top: 20px;

      @include mq(sm) {
        margin-top: 30px;
      }
    }
}

.article-title {
  font-size: 30px;

  @media (min-width: $screen-sm-min) {
    font-size: 30px !important;
  }
}

h2.article-heading,
.legacy h2,
.blog-entry h2 {
  border-bottom: 1px solid #b0bec5;
  padding-bottom: 15px;
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 24px;
}

.legacy {
  overflow: hidden;
  word-wrap: break-word;

  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.google-maps {
  height: 100%;
  width: 100%;
}

.responsive-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.basic-infowrapper {
  width: 100%;
  margin-bottom: 20px;

  .flex-column {
    justify-content: center;
  }
}

.basic-information {
  color: #8d8d8d;
  white-space: pre-line;
  display: flex;
  border-radius: 5px;

  &:nth-child(odd) {
    background-color: #f5f5f5;
  }

  td,
  th {
    border: none;
    min-width: 140px;
    padding-right: 5px;
    border-right: 1px solid #ccc;
    padding: 5px;
    margin-right: 15px;
    max-width: 140px;

    &.basic-text {
      border-right: none;
      width: auto;
      max-width: 100%;

      p {
        font-size: 1.4rem !important;
      }
    }
  }

  a {
    color: #fdcc90;
    word-wrap: break-word;
  }

  .fa {
    font-size: 17px;
    font-weight: bold;
  }
}

.well.border-black {
  border-color: black;
  border-radius: 0;
  padding: 0;
  color: black;
  position: relative;

  &:before {
    content: attr(data-text);
    width: auto;
    position: absolute;
    top: -26px;
    background: url("../images/icons/icon.png") no-repeat 5px center $color_yellow;
    right: 10px;
    padding: 4px 10px 4px 35px;
    font-size: 12px;
  }
}

.in-related-article-wrapper {
  display: inline-block;
  margin-top: 25px;
  width: 100%;

  .row {
    @media (max-width: $screen-sm-min) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h3 {
    @media (max-width: $screen-sm-min) {
      font-size: 1.35rem !important;
    }
  }

  .well {
    box-shadow: none;
    background: none;
  }

  .in-prev-image {
    overflow: hidden;
    position: relative;
  }

  .related_body {
    padding-top: 10px;

    @media (max-width: $screen-sm-min) {
      padding-left: 0px;
      padding-top: 0px;
    }
  }

  p {
    color: black;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 0;
    border-left: 0;
    margin-left: 10px;
    position: relative;

    &:before {
      content: "";
      width: 3px;
      height: 100%;
      left: -10px;
      top: 0;
      position: absolute;
      background: #fc0;
    }
  }

  p.date {
    font-size: 12px !important;
    margin-bottom: 2px !important;
    font-weight: 100;
    font-style: italic;
  }

  p.desc {
    line-height: 1.5;
    font-size: 12px !important;
    padding-right: 5px;
  }
}

.in-related-article-wrapper.green_border {
  h3 {
    &:before {
      background: #009e74;
    }
  }

  .well {
    &.border-black:before {
      background: url("../images/icons/icon.png") no-repeat 5px center #009e74;
      color: #fff;
    }
  }
}

.adsense {
  &-top {
    width: 100%;
    text-align: center;
    margin: 10px auto 45px;

    // &>div {
    //   width: 100%;
    //   max-width: 336px;
    //   height: 280px;
    //   margin-left: auto;
    //   margin-right: auto;

    //   @media (min-width: $screen-sm-min) {
    //     max-width: 728px;
    //     height: 90px;
    //   }
    // }

    .ads_img {
      width: 320px;
      height: 100px;

      @media (min-width: $screen-sm-min) {
        width: 728px;
        height: 90px;
      }
    }
  }

  &-bottom {
    width: 100%;
    text-align: center;
    margin: 10px auto 0;

    .ads_img {
      width: 320px;
      height: 100px;

      @media (min-width: $screen-sm-min) {
        width: 728px;
        height: 90px;
      }
    }
  }

  &-h2before {
    width: 100%;
    text-align: center;
    margin: 10px auto 35px;

    @media (min-width: $screen-sm-min) {
      margin: 20px auto 60px;
    }

    .ads_img {
      width: 300px;
      height: 250px;

      @media (min-width: $screen-sm-min) {
        width: 336px;
        height: 280px;
      }
    }
  }

  &-h3before {
    width: 100%;
    text-align: center;
    margin: 10px auto 30px;

    @media (min-width: $screen-sm-min) {
      margin: 20px auto 30px;
    }

    .ads_img {
      width: 300px;
      height: 250px;

      @media (min-width: $screen-sm-min) {
        width: 336px;
        height: 280px;
      }
    }
  }
}

.bold {
  font-weight: bold;
}

.coupon {
  &-btn {
    padding: 10px 50px 10px;
  }

  .post_article-heading {
    margin: 15px 0 0px;
  }

  &_wrapper {
    border: 1px solid black;
    position: relative;
    overflow: hidden;

    .coupon_highlight {
      border: 1px solid #ccc;
      margin-left: 30px;
      margin-right: 30px;
      padding: 10px;
      margin-bottom: 10px;
    }

    &::after {
      content: "";
      background: black;
      width: 100%;
      display: block;
      height: 36px;
      background: url("../images/logo_white.png") no-repeat center #000;
      background-size: 150px;
    }

    .ribbon {
      top: 32px;
      right: -61px;
      width: 290px;
      text-align: center;
      position: absolute;
      background: $color_yellow;
      transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      padding: 6px;
      color: black;
      padding-left: 50px;
      padding-right: 50px;

      @media (max-width: $screen-sm-min) {
        display: none;
      }
    }
  }
}

.linkBlock {
  &_wrapper {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border: 1px solid #b0bec5;
    margin: 0.8em 0;

    @include mq(sm) {
      padding: 10px 20px;
    }

    p {
      font-size: 1.4rem !important;
      margin-bottom: .6em !important;

      @include mq(sm) {
        font-size: 1.6rem !important;
      }
    }
  }

  &_label {
    font-weight: 700;
    padding-left: 1.2em;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      background-color: #333;
      top: 50%;
      left: 0;
      margin-top: -4px;
    }

    &::after {
      position: absolute;
      content: "";
      border: solid 8px transparent;
      border-left: solid 8px #333;
      top: 50%;
      left: 6px;
      margin-top: -8px;
    }
  }

  &_heading {
    font-weight: 700;
    // font-size: 1.5em;
    // margin-bottom: 0.8em;
    margin: .5em 0 !important;
  }

  &_action {}
}

.post-article_content {
  .linkBlock p {
    font-size: 0.9em;
    margin-bottom: .6em;
  }
}

.imagead01,
.imagead02 {
  position: relative;

  &:after {
    background-image: url("../images/savor_logo.png");
    content: "";
    width: 115px;
    height: 23px;
    position: absolute;
    right: 22px;
    background-size: contain;
    bottom: 10px;
    background-repeat: no-repeat;
  }
}

.imagead03,
.imagead04 {
  position: relative;

  &:after {
    background-image: url("../images/bangs.png");
    content: "";
    width: 115px;
    height: 23px;
    position: absolute;
    right: 22px;
    background-size: contain;
    bottom: 10px;
    background-repeat: no-repeat;
    background-position: center right;
  }

  .btn-ads {
    background: #4bb8d3;
  }
}

.imagead06,
.imagead07 {
  p,
  b,
  span {
    font-size: 16px !important;
  }
}

.ads-text-wrapper {
  padding-bottom: 15px;
}

.savorad02 {
  .space-bottom-xs {
    margin-bottom: 10px;
  }
}

.previewImg {
  margin-bottom: 10px;
}

.thumbnailList {
  .col-xs-3 {
    padding-top: 10px;
  }
}

.img-grid {
  padding-left: 0px;
  padding-right: 0px;
  float: none;
  vertical-align: top;
  display: inline-block;

  &.col-sm-6.odd {
    padding-right: 5px;
    margin-right: -5px;
  }

  &.col-sm-6.even {
    padding-left: 5px;
  }

  &.col-sm-4.even {
    padding-left: 10px;
    margin-left: -10px;
  }

  &.col-sm-4.odd {
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Buttons
.savor-button-booking {
  box-shadow: 2px 2px #793313;
  background-color: #ef6730;
  color: #fff;
  position: relative;
  border: #ef6730 1px solid;

  &:before {
    content: "\f073";
    padding-right: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  &:hover {
    color: #ef6730;
    background-color: #fff;
  }

}

.btn-3d-orange,
.btn-2d-orange {
  background-color: #ef6730;
  color: #fff;
  position: relative;
  border: 1px #ef6730 solid;

  &:hover {
    color: #ef6730;
    background-color: #fff;
  }

}

.btn-3d-orange {
  box-shadow: 2px 2px #793313;
}

.book-with,
.btn-light-orange {
  color: #fff;
  background-color: #f0ad4e;
  border: 1px solid #f0ad4e;

  &:hover {
    background-color: #fff;
    color: #f0ad4e;
  }
}

.book-with {
  box-shadow: 2px 2px #793313;
  padding: 6px 12px;
  font-size: 14px;
}

.btn-ads {
  background-color: #a51b20;
  color: #fff;
  border: 1px #a51b20 solid;

  &:hover {
    background-color: #fff;
    color: #a51b20;
  }

}

.btn-cust-blue {
  // background: #339ae3;
  background: linear-gradient(to bottom, #339ae3 0%, #063291 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#339ae3', endColorstr='#063291', GradientType=0);
  color: #fff;
  border: none;
  position: relative;
  padding: 10px 55px 10px 25px;
  font-size: 2.2rem;

  &:after {
    content: "";
    width: 30px;
    position: absolute;
    right: 8px;
    background: url("../images/button_arrow_blue.png") no-repeat center center #fff;
    border-radius: 30px;
    height: 30px;
  }

  &:hover {
    color: #fff;
    opacity: .8;
  }

}

.btn-cust-green {
  // background: #85c023;
  background: linear-gradient(to bottom, #85c023 0%, #4a9d45 99%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85c023', endColorstr='#4a9d45', GradientType=0);
  color: #fff;
  border: none;
  position: relative;
  padding: 10px 55px 10px 25px;
  font-size: 2.2rem;

  &:after {
    content: "";
    width: 30px;
    position: absolute;
    right: 8px;
    background: url("../images/button_arrow_green.png") no-repeat center center #fff;
    border-radius: 30px;
    height: 30px;
  }

  &:hover {
    color: #fff;
    opacity: .8;
  }

}

.btn-dull-yellow {
  background-color: #CFC173;
  border: 1px #CFC173 solid;
  color: #fff;

  &:hover {
    color: #CFC173;
    background-color: #fff;
  }
}

.btn-becos {
  margin: 1em auto;
  text-align: center;

  &>a {
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #CFC173;
    font-size: 1.125em;

    &:hover {
      background-color: #dbd196;
    }
  }
}

.insta_embedHtml {
  max-width: 80%;
}

.table-of-contents ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;

  li {
    vertical-align: top;
    line-height: 1.3em;
    margin-left: 1.5em;

    &::before {
      content: "\2022";
      // Add content: \2022 is the CSS Code/unicode for a bullet
      color: #f2a900;
      // Change the color
      font-weight: bold;
      // If you want it to be bold
      display: inline-block;
      // Needed to add space between the bullet and the text
      width: 1em;
      // Also needed for space (tweak if needed)
      margin-left: -1em;
      vertical-align: inherit;
      font-size: 1.5em;
    }
  }

  ol {
    padding-left: 0 !important;
    list-style: none;

    li {
      &:before {
        content: "\2013";
        font-size: 1.5em;
      }
    }
  }
}
