
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>New</h2>
      
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </div>

    <%= render 'form' %>

  </div>
</div>
