<div class="adsense-h2before">
  <!-- tJ_article_h2top -->
  <ins class="adsbygoogle ads_img"
      style="display:inline-block;width:300px;height:250px"
      data-ad-client="ca-pub-4177280178292675"
      data-ad-slot="3109749966"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
