<div class="post_affiliateArea <%= position %>">
  <!-- Klook -->
  <ins class="klk-aff-widget"  data-adid="637690" data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470" data-edgeValue="655" data-cid="28" data-tid="2" data-amount="3" data-prod="dynamic_widget"><a href="//www.klook.com/">Klook.com</a></ins>
  <script type="text/javascript">
    (function (d, sc, u) {
      var s = d.createElement(sc),
        p = d.getElementsByTagName(sc)[0];
      s.type = "text/javascript";
      s.async = true;
      s.src = u;
      p.parentNode.insertBefore(s, p);
    })(
      document,
      "script",
      "https://affiliate.klook.com/widget/fetch-iframe-init.js"
    );
  </script>
</div>
