<% if I18n.locale.to_s == "en" %>
  <!-- agoda SEARCH BOX -->
  <div id="adgshp-776065062"></div>
  <script type="text/javascript" src="//cdn0.agoda.net/images/sherpa/js/sherpa_init1_08.min.js"></script><script type="text/javascript">
  var stg = new Object(); stg.crt="331278482091";stg.version="1.04"; stg.id=stg.name="adgshp-776065062"; stg.width="300px"; stg.height="396px";stg.ReferenceKey="+o9PzwvwfvBE8ZJ6RnYxdQ=="; stg.Layout="SquareCalendar"; stg.Language="en-us";stg.Cid="1755750"; stg.DestinationName="";stg.OverideConf=false; new AgdSherpa(stg).initialize();
  </script>
<% elsif I18n.locale.to_s == "ja" %>
  <!-- agoda SEARCH BOX -->
  <div id="adgshp647019647"></div>
  <script type="text/javascript" src="//cdn0.agoda.net/images/sherpa/js/sherpa_init1_08.min.js"></script><script type="text/javascript">
  var stg = new Object(); stg.crt="381516362369";stg.version="1.04"; stg.id=stg.name="adgshp647019647"; stg.width="300px"; stg.height="396px";stg.ReferenceKey="4aSjkKWRzp29XYtHfjSymA=="; stg.Layout="SquareCalendar"; stg.Language="ja-jp";stg.Cid="1755750"; stg.DestinationName="";stg.OverideConf=false; new AgdSherpa(stg).initialize();
  </script>
<% elsif I18n.locale.to_s == "zh-hant" %>
  <!-- agoda SEARCH BOX -->
  <div id="adgshp-390818438"></div>
  <script type="text/javascript" src="//cdn0.agoda.net/images/sherpa/js/sherpa_init1_08.min.js"></script><script type="text/javascript">
  var stg = new Object(); stg.crt="384234115052";stg.version="1.04"; stg.id=stg.name="adgshp-390818438"; stg.width="300px"; stg.height="396px";stg.ReferenceKey="+nryDi1ldxDI2IqdtPY8EA=="; stg.Layout="SquareCalendar"; stg.Language="zh-tw";stg.Cid="1755750"; stg.DestinationName="";stg.OverideConf=false; new AgdSherpa(stg).initialize();
  </script>
<% elsif I18n.locale.to_s == "zh-hans" %>
  <!-- agoda SEARCH BOX -->
  <div id="adgshp-849044341"></div>
  <script type="text/javascript" src="//cdn0.agoda.net/images/sherpa/js/sherpa_init1_08.min.js"></script><script type="text/javascript">
  var stg = new Object(); stg.crt="384632540767";stg.version="1.04"; stg.id=stg.name="adgshp-849044341"; stg.width="300px"; stg.height="392px";stg.ReferenceKey="b8aLjOqSVkktT2Hqmo7vLQ=="; stg.Layout="SquareCalendar"; stg.Language="zh-cn";stg.Cid="1755750"; stg.DestinationName="";stg.OverideConf=false; new AgdSherpa(stg).initialize();
  </script>
<% elsif I18n.locale.to_s == "th" %>
  <!-- agoda SEARCH BOX -->
  <div id="adgshp-1359242"></div>
  <script type="text/javascript" src="//cdn0.agoda.net/images/sherpa/js/sherpa_init1_08.min.js"></script><script type="text/javascript">
  var stg = new Object(); stg.crt="393367278846";stg.version="1.04"; stg.id=stg.name="adgshp-1359242"; stg.width="300px"; stg.height="396px";stg.ReferenceKey="2yJV45S/fnlK1TE4fl8qEQ=="; stg.Layout="SquareCalendar"; stg.Language="th-th";stg.Cid="1755750"; stg.DestinationName="";stg.OverideConf=false; new AgdSherpa(stg).initialize();
  </script>
<% elsif I18n.locale.to_s == "vi" %>
  <!-- agoda SEARCH BOX -->
  <div id="adgshp1731398040"></div>
  <script type="text/javascript" src="//cdn0.agoda.net/images/sherpa/js/sherpa_init1_08.min.js"></script><script type="text/javascript">
  var stg = new Object(); stg.crt="384065621731";stg.version="1.04"; stg.id=stg.name="adgshp1731398040"; stg.width="300px"; stg.height="396px";stg.ReferenceKey="gJrNJ440VdCrCfQfUHn51A=="; stg.Layout="SquareCalendar"; stg.Language="vi-vn";stg.Cid="1755750"; stg.DestinationName="";stg.OverideConf=false; new AgdSherpa(stg).initialize();
  </script>
<% elsif I18n.locale.to_s == "ko" %>
  <!-- agoda SEARCH BOX -->
  <div id="adgshp1274537007"></div>
  <script type="text/javascript" src="//cdn0.agoda.net/images/sherpa/js/sherpa_init1_08.min.js"></script><script type="text/javascript">
  var stg = new Object(); stg.crt="383796892323";stg.version="1.04"; stg.id=stg.name="adgshp1274537007"; stg.width="300px"; stg.height="392px";stg.ReferenceKey="e8VydH/e2BaN0bsLxHbjjw=="; stg.Layout="SquareCalendar"; stg.Language="ko-kr";stg.Cid="1755750"; stg.DestinationName="";stg.OverideConf=false; new AgdSherpa(stg).initialize();
  </script>
<% elsif I18n.locale.to_s == "id" %>
  <!-- agoda SEARCH BOX -->
  <div id="adgshp1236407946"></div>
  <script type="text/javascript" src="//cdn0.agoda.net/images/sherpa/js/sherpa_init1_08.min.js"></script><script type="text/javascript">
  var stg = new Object(); stg.crt="385105750963";stg.version="1.04"; stg.id=stg.name="adgshp1236407946"; stg.width="300px"; stg.height="396px";stg.ReferenceKey="A7wAJorNck0GCAyFvhMDYA=="; stg.Layout="SquareCalendar"; stg.Language="id-id";stg.Cid="1755750"; stg.DestinationName="";stg.OverideConf=false; new AgdSherpa(stg).initialize();
  </script>
<% end %>
