packages:
  yum:
    git: []
    gcc72: []
    gcc72-c++: []

# Use longer timeout seconds
option_settings:
    - namespace: aws:elasticbeanstalk:command
      option_name: Timeout
      value: 3600

commands:
  # Set time zone Tokyo/Asia
  01_set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime

  # Create post hooks directory, ignored when already exists
  02_create_post_dir:
    command: mkdir /opt/elasticbeanstalk/hooks/appdeploy/post
    ignoreErrors: true

  # Create support directory, ignored when already exists
  03_create_support_dir:
    command: mkdir /var/app/support
    ignoreErrors: true

  # Create support logs directory, ignored when already exists
  04_create_support_log:
    command: mkdir /var/app/support/logs
    ignoreErrors: true

  # Create support pidds directory, ignored when already exists
  05_create_support_pids:
    command: mkdir /var/app/support/pids
    ignoreErrors: true

  05_create_nginx_conf:
    command: mkdir /etc/nginx/railsconf
    ignoreErrors: true
  #enable gzip

  # update node
#  07_download_nodejs:
#    command: /bin/rm -rf /var/cache/yum/* && /usr/bin/yum clean all && curl --silent --location https://rpm.nodesource.com/setup_12.x | sudo bash -
#  08_install_nodejs:
#    command: yum -y install nodejs
  07_01_nvm_mkdir:
    cwd: /tmp
    test: '[ ! -d /usr/local/nvm ] && echo "NVM_DIR not exist"'
    command: 'mkdir /usr/local/nvm'
  07_02_nvm_get:
    cwd: /tmp
    command: 'export NVM_DIR=/usr/local/nvm && curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash'
  07_03_setup_nvm_env:
    command: |
      cat << EOF > /etc/profile.d/nvm.sh
      export NVM_DIR=/usr/local/nvm
      [ -s "\$NVM_DIR/nvm.sh" ] && \. "\$NVM_DIR/nvm.sh"
      EOF
  08_01_node_install:
    cwd: /tmp
    command: 'source /etc/profile.d/nvm.sh && nvm install 12.22.1'
  08_02_set_node_default:
    cwd: /tmp
    command: 'source /etc/profile.d/nvm.sh && nvm alias default 12.22.1 && nvm use default'
  09_install_yarn:
    #test: '! yarn -v'
    command: |
      set -e
      source /etc/profile.d/nvm.sh
      nvm alias default 12.22.1
      nvm use 12.22.1
      npm install -g yarn@1.22.19
      cat << EOF >> /etc/profile.d/nvm.sh
      export PATH=\$PATH:`npm bin --global`
      EOF
      source /etc/profile.d/nvm.sh
      #ln -s "$(npm bin --global)"/yarn /usr/bin/yarn
files:
  "/tmp/crons":
      mode: "000644"
      owner: root
      group: root
      content: |
        32 10 * * 1 . /opt/elasticbeanstalk/support/envvars && source /home/ec2-user/.bashrc && cd /var/app/current && /opt/rubies/ruby-2.6.3/bin/bundle exec /opt/rubies/ruby-2.6.3/bin/rake missing_images:check_articles >> /var/app/current/log/cron.log 2>&1
        0 0 * * * . /opt/elasticbeanstalk/support/envvars && source /home/ec2-user/.bashrc && cd /var/app/current && /opt/rubies/ruby-2.6.3/bin/bundle exec /opt/rubies/ruby-2.6.3/bin/rake sitemap:refresh >> /var/app/current/log/cron.log 2>&1
        0 08 20 * * . /opt/elasticbeanstalk/support/envvars && source /home/ec2-user/.bashrc && cd /var/app/current && /opt/rubies/ruby-2.6.3/bin/bundle exec /opt/rubies/ruby-2.6.3/bin/rake xml:articles >> /var/app/current/log/cron.log 2>&1

  "/etc/nginx/conf.d/gzip.conf":
      mode: "644"
      owner: "root"
      group: "root"
      content: |
        # enable gzip compression
        gzip on;
        gzip_min_length  1100;
        gzip_buffers  4 32k;
        gzip_types    text/plain text/html text/xml text/css application/javascript application/json;
        gzip_vary on;
        # end gzip configuration
  "/etc/nginx/railsconf/img-redirect.conf":
      mode: "644"
      owner: "root"
      group: "root"
      content: |
        location ~ "^/wp-content/uploads/(.*)\.(htm|html)$" {
          return 404;
        }
        location ~ "^/wp-content/uploads/(.*)$" {
          try_files $uri @missing;
        }
        location @missing {
          rewrite "^/wp-content/uploads/(.*)$" "https://d20aeo683mqd6t.cloudfront.net/wp-content/uploads/$1" redirect;
        }
        #end caching conf

  "/etc/nginx/railsconf/redirect.conf":
      mode: "644"
      owner: "root"
      group: "root"
      content: |
        #redirects for urls


           rewrite ^/category/overview/things-to-do-japan/what-to-buy-japan/$ /category/shopping permanent;
           rewrite ^(.*)/what-to-buy-(.*)/$ /category/shopping/$2 permanent;
           rewrite ^(.*)/(.*)-must-buy/$ /zh-hant/category/shopping/$2 permanent;

           rewrite ^/category/overview/things-to-do-japan/what-to-eat-japan/$ /category/food-drink permanent;
           rewrite ^(.*)/what-to-eat-(.*)/$ /category/food-drink/$2 permanent;
           rewrite ^(.*)/(.*)-must-eat/$ /zh-hant/category/food-drink/$2 permanent;

           rewrite ^/category/overview/things-to-do-japan/where-to-stay-japan/$  /category/hotels-ryokan permanent;
           rewrite ^(.*)/where-to-stay-(.*)/$ /category/hotels-ryokan/$2 permanent;
           rewrite ^(.*)/(.*)-stay/$ /zh-hant/category/hotels-ryokan/$2 permanent;

           rewrite ^/by-region/$ /area/ permanent;

           rewrite ^/category/overview/things-to-do-japan/$ /category/things-to-do permanent;
           rewrite ^(.*)/things-to-do-(.*)/$ /category/things-to-do/$3 permanent;
           rewrite ^(.*)/(.*)-travel-zh/$ /zh-hant/category/things-to-do/$2 permanent;

           rewrite ^/zh-hant/12-hot-spring-hotel-around-fukuoka/$ /zh-hant/12-recommended-onsen-ryokan-in-fukuoka/ permanent;

          #wowjapan Redirect
           rewrite ^/tag/wowjapan/(.*)$ /tag/wjapan/$1 permanent;
           rewrite ^/ja/tag/wowjapan/(.*)$ /ja/tag/wjapan/$1 permanent;
           rewrite ^/zh-hant/tag/wowjapan/(.*)$ /zh-hant/tag/wjapan/$1 permanent;
           rewrite ^/zh-hans/tag/wowjapan/(.*)$ /zh-hans/tag/wjapan/$1 permanent;
           rewrite ^/ko/tag/wowjapan/(.*)$ /ko/tag/wjapan/$1 permanent;

           rewrite ^/th/tag/wowjapan/(.*)$ /th/ permanent;
           rewrite ^/vi/tag/wowjapan/(.*)$ /vi/ permanent;
           rewrite ^/id/tag/wowjapan/(.*)$ /id/ permanent;

           absolute_redirect off;
           rewrite ^([^.\?]*[^/])$ $1/ permanent;
           rewrite ^/area$ /area/ permanent;


        #end redirects for urls

  "/etc/nginx/railsconf/caching.conf":
      mode: "644"
      owner: "root"
      group: "root"
      content: |
        #caching conf
        if (-f $document_root/cached_pages/$uri/index.html) {
          rewrite (.*) /cached_pages/$1/index.html break;
        }

        # Other HTML Files
        if (-f $document_root/cached_pages/$uri.html) {
          rewrite (.*) /cached_pages/$1.html break;
        }

        # All
        if (-f $document_root/cached_pages/$uri) {
          rewrite (.*) /cached_pages/$1 break;
        }
        #end caching conf

  "/etc/nginx/conf.d/02_app_server.conf":
      mode: "644"
      owner: "root"
      group: "root"
      content: |
        # The content of this file is based on the content of /etc/nginx/conf.d/webapp_healthd.conf

        # Change the name of the upstream because it can't have the same name
        # as the one defined by default in /etc/nginx/conf.d/webapp_healthd.conf
        upstream new_upstream_name {
          server unix:///var/run/puma/my_app.sock;
        }

        # Change the name of the log_format because it can't have the same name
        # as the one defined by default in /etc/nginx/conf.d/webapp_healthd.conf
        log_format new_log_name_healthd '$msec"$uri"'
                        '$status"$request_time"$upstream_response_time"'
                        '$http_x_forwarded_for';
        server_tokens off;

        server {
            listen 80;
            server_name tsunagujapan.com;
            return 301 https://www.tsunagujapan.com$request_uri;
        }


        server {
          listen 80;
          listen 443 default_server ssl http2;
          client_max_body_size 10M;
          root /var/app/current;

          server_name _ localhost www.tsunagujapan.com tsunagujapan.com stg.tsunagujapan.com tng-staging-2-0904.efm8vxr3aq.ap-northeast-1.elasticbeanstalk.com rails-stg.tsunagulocal.com tng-live-2.ap-northeast-1.elasticbeanstalk.com; # need to listen to localhost for worker tier

          #auth_basic "Restricted";
          #auth_basic_user_file /var/app/current/.htpasswd;

          include /etc/nginx/railsconf/*.conf;
          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
            set $year $1;
            set $month $2;
            set $day $3;
            set $hour $4;
          }

          access_log  /var/log/nginx/access.log  main;
          # Match the name of log_format directive which is defined above
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour new_log_name_healthd;

          location / {
            # Match the name of upstream directive which is defined above
            proxy_pass http://new_upstream_name;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            #auth_basic "Restricted Content";
            #auth_basic_user_file /etc/nginx/railsconf/.htpasswd;
          }

          location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
            add_header Access-Control-Allow-Origin *;
            add_header Access-Control-Request-Headers *;
            add_header Accept-Encoding gzip;
          }

          location /packs {
            alias /var/app/current/public/packs;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
            add_header Access-Control-Allow-Origin *;
            add_header Access-Control-Request-Headers *;
            add_header Accept-Encoding gzip;
          }

          location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

          location /feed/top-articles.xml {
            rewrite ^ https://d20aeo683mqd6t.cloudfront.net/feed/top-articles.xml permanent;
          }
        }

  "/etc/nginx/conf.d/02-add_nginx_param.conf":
      mode: "644"
      owner: "root"
      group: "root"
      content: |
          server_names_hash_bucket_size 256;

container_commands:
  05_01_backup_nginx_conf:
    command: "cp /etc/nginx/nginx.conf /etc/nginx/nginx.conf.bak"
  05_02_update_worker_connections:
    command: 'sed -i "s/worker_connections [0-9]*/worker_connections 4096/" /etc/nginx/nginx.conf'
  05_03_add_multi_accept:
    command: 'grep -q "multi_accept on;" /etc/nginx/nginx.conf || sed -i "/worker_connections/a\    multi_accept on;" /etc/nginx/nginx.conf'
  05_04_update_keepalive:
    command: 'sed -i "s/keepalive_timeout.*;/keepalive_timeout 15;/" /etc/nginx/nginx.conf'
  05_05_add_proxy_timeouts:
    command: |
      grep -q "proxy_connect_timeout 5s;" /etc/nginx/nginx.conf || sed -i '/types_hash_max_size/a\
      \    proxy_connect_timeout 5s;\
      \    proxy_send_timeout 30s;\
      \    proxy_read_timeout 30s;' /etc/nginx/nginx.conf
  05_06_test_nginx:
    command: "nginx -t"
  05_07_restart_nginx:
    command: "service nginx restart"
  10_remove_old_cron_jobs:
    command: "rm -f /etc/cron.d/*.bak"
  12_delete_cron_jobs:
    command: "crontab -r || exit 0"
  13_add_cron_jobs:
    command: "crontab /tmp/crons"
    leader_only: true
  14_add_cron_jobs:
    command: "/etc/init.d/crond restart"
    leader_only: true
