files:
  /etc/nginx/.htpasswd:
    mode: "000755"
    owner: root
    group: root
    content: |
      tsunagujapan:$apr1$VRNcch3l$sPK85bd7Fbutr0HiR03rm1

  /tmp/deployment/nginx_auth.sh:
    mode: "000755"
    content: |
      if [ "$RAILS_ENV" == "staging" ]; then
        sed -i 's/$proxy_add_x_forwarded_for;/$proxy_add_x_forwarded_for;\n    auth_basic "Restricted";\n    auth_basic_user_file \/etc\/nginx\/.htpasswd;\n/' /etc/nginx/conf.d/02_app_server.conf
      fi

container_commands:
  01_nginx_auth:
    command: "/tmp/deployment/nginx_auth.sh"
  02_restart_nginx:
    command: "service nginx restart"
