files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_asset_compilation.sh":
    content: |
        #!/usr/bin/env bash

        set -xe

        EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
        EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
        EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
        EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

        . $EB_SUPPORT_DIR/envvars-wrapper.sh

        RAKE_TASK="assets:precompile"

        . $EB_SCRIPT_DIR/use-app-ruby.sh

        # Add
        . /etc/profile.d/nvm.sh

        cd $EB_APP_STAGING_DIR

        if su -s /bin/bash -c "bundle exec $EB_SCRIPT_DIR/check-for-rake-task.rb $RAKE_TASK" $EB_APP_USER; then
                if [ "$RAILS_SKIP_ASSET_COMPILATION" == "true" ]; then
                    echo "Skipping asset compilation (RAILS_SKIP_ASSET_COMPILATION=true)."
                else
                    su -s /bin/bash -c "bundle exec rake assets:precompile" $EB_APP_USER
                fi
        else
                echo "No $RAKE_TASK task in Rakefile, skipping asset compilation."
        fi
    mode: "000755"