files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_yarn_packages.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      source /etc/profile.d/nvm.sh

      # npm install
      cd "${app}";
      #npm cache clean --force;
      #yarn cache clean;
      yarn install --production=false;