.adsSlider {
  margin-top: 50px;
  margin-bottom: 50px;

  &.container {
    padding-left: 0;
    padding-right: 0;

    @include mq(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.adsSwiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 34px;
    height: 34px;
    z-index: 10;
    border: none;
    box-shadow: none;
    background: rgba($color_black, .75);
    margin-top: -38px;

    @include mq(sm) {
      width: 40px;
      height: 40px;
    }

    // &.swiper-button-disabled {
    //   opacity: .35;
    //   cursor: auto;
    //   pointer-events: none
    // }

    &::after,
    .swiper-container-rtl {
      content: none;
      border: none;
      box-shadow: none;
    }

    &::before {
      box-shadow: none;
      content: "";
      display: inline-block;
      position: absolute;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 50%;

      @include mq(sm) {
        width: 16px;
        height: 16px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .swiper-button-prev {
    @include selectNone;

    &::before {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: translate(-50%, -50%) rotate(-135deg);
      margin-left: 2px;

      @include mq(sm) {
        margin-left: 4px;
      }
    }
  }

  .swiper-button-next {
    @include selectNone;

    &::before {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: translate(-50%, -50%) rotate(45deg);
      margin-left: -2px;

      @include mq(sm) {
        margin-left: -4px;
      }
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 0;
    right: auto;

    @include mq(sm) {}
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 0;
    left: auto;

    @include mq(sm) {}
  }
}
