.article-list {
  display: flex;
  flex-wrap: wrap;

  >div {
    width: 100%;
    margin-bottom: 30px;

    @include mq(sm) {
      width: auto;
      flex: 0 0 calc(33.333% - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &-item {
    position: relative;
    &-ribbon {
      width: 25px;
      height: 25px;
      border-radius: 50px;
      background: #f2a900;
      text-align: center;
      font-size: 16px;
      color: white;
      position: absolute;
      padding-top: 1px;
      left: -5px;
      top: -10px;
      box-shadow: 0px 0px 4px #ccc;
      z-index: 1;
      @include mq(sm) {
        width: 50px;
        height: 50px;
        font-size: 34px;
      }
    }
    a {
      display: flex;
      width: 100%;
      align-items: flex-start;
      transition: opacity .5s;

      @include mq(sm) {
        display: block;
      }

      &:hover {
        text-decoration: none !important;
        .article-list-item-image {
          opacity: .7;
        }
      }
    }

    &-imageBox {
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      width: 128px;
      // padding-top: 92px;
      padding-top: 80px;

      // background-color: #000;
      @include mq(sm) {
        width: 100%;
        padding-top: 63.6923%;
        border-radius: 10px;
      }
    }

    &-image {
      // height: 92px;
      // width: 128px;
      // border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      transition: opacity ease-out 0.2s;

      @include mq(sm) {
        // width: 100%;
        // height: auto;
      }
    }

    &-body {
      width: calc(100% - 128px);
      flex: 0 1 auto;
      padding-left: 12px;
      padding-right: 12px;

      @include mq(sm) {
        padding-top: 14px;
        padding: 10px 15px;
        width: 100%;
      }

      &-sub {
        display: flex;
        justify-content: space-between;
        color: #555555;
        font-size: 1.1rem;
        flex-direction: row;

        @include mq(sm) {
          font-size: 12px;
        }

        &-area {
          position: relative;
          padding-left: 18px;
          &:before {
            content: "";
            background: url("../images/icons/ico-area-pin.svg") no-repeat center center /contain;
            width: 14px;
            height: 17px;
            position: absolute;
            left: 0;
            top: 0;
            @include mq(sm) {
              top: 1px;
            }
          }
        }
      }

      h3 {
        margin-top: 5px;
        font-size: 1.35rem;
        font-weight: bold;
        color: $color_black;

        @include mq(sm) {
          margin-top: 10px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}

.pagination {
  text-align: center;
  background: transparent;

  span {
    width: 49px;
    height: 49px;
    display: inline-block;
    border-radius: 49px;
    padding-top: 10px;
    padding-left: 2px;
    text-align: center;
    font-size: 20px;
    border: solid 1px rgba(151, 151, 151, 0.2);
    color: #555555;

    &.current {
      border: none;
      background-color: $color_yellow;
    }

    a {
      color: #555555;
    }
  }

  .gap {
    border: none;
  }

  .next,
  .prev {
    border: none;
  }
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.3;

  @include mq(sm) {
    max-height: 70px;
  }
}

.banner-areaFeature {
  width: 100%;
  margin: 40px auto 20px;

  @include mq(sm) {
    max-width: 820px;
    margin-bottom: 30px;
  }

  &>a {
    display: block;
    transition: opacity .5s;

    &:hover {
      opacity: 0.8;
    }
  }
}
