//@import "../base/_variables";

.btn:active,
.btn.active {
  box-shadow: none;
}

.btn-anchor_link {
  text-align: center;
  margin-top: vw(70);
  margin-bottom: vw(100);

  @include mq(sm) {
    margin-top: 80px;
    margin-bottom: 70px;
  }

  a {
    display: inline-block;
    position: relative;
    padding: 10px 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    @include cmn_transition(opacity);
    opacity: 1;

    @include mq(sm) {
      padding: 18px 50px;
      font-size: 22px;
      border-top-width: 4px;
      border-bottom-width: 4px;

      &:hover {
        opacity: 0.7;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      display: block;
      background-size: cover;
      height: 16px;

      @include mq(sm) {
        height: 23px;
      }
    }

    &::before {
      width: 12.5px;
      left: 0;
      background-image: url("../images/shared/icon_area_black.png");
      transform: translateY(-50%);

      @include mq(sm) {
        width: 17px;
      }
    }

    &::after {
      width: 17px;
      right: 0;
      background-image: url("../images/shared/icon_anchor_arrow.svg");
      transform: rotateX(180deg) translateY(50%);

      @include mq(sm) {
        width: 24px;
      }
    }
  }
}

.add_button {
  margin: 0;
  text-align: center;
  margin-top: vw(60);

  @include mq(sm) {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .btn {
    width: vw(430);
    padding: 15px 0;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 0;
    font-size: rem(16);
    font-weight: bold;
    color: #000;
    position: relative;

    @include mq(sm) {
      width: 340px;
      padding: 30px 0;
      border-width: 2px;
      font-size: 26px;
    }

    .line {
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 2px;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);

      @include mq(sm) {
        width: 40px;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color_yellow;
        transition: background ease-out 0.2s;
      }
    }

    &:hover .line::after {
      @extend %cmn_line_animation;
    }
  }
}

.hover-opacity {
  display: block;
  transition: opacity .5s;

  &:hover {
    opacity: 0.8;
  }
}
