//@import "../base/_variables";

.footer {
  &__inner {
    padding: 0 vw(30) vw(30);
    background-color: $bg_black;
    position: relative;

    @include mq(sm) {
      padding-bottom: 20px;
    }
  }

  .container {
    position: relative;
    padding-right: 0;
    padding-left: 0;

    @include mq(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .container--pagetop {
    width: vw(694);
    position: fixed;
    bottom: half(50);
    left: 50%;
    transform: translateX(-50%);
    z-index: $z_btn_pagetop;
    opacity: 0;
    pointer-events: none;
    @include cmn_transition(opacity);

    &.show {
      opacity: 1;
    }

    &.stick {
      position: absolute;
      top: calc(-10vw - 24px);
      right: 0;

      @include mq(sm) {
        top: -30px;
      }
    }
  }

  .btn_page_top {
    @extend %hide_text;
    @extend %fixed_btn_shadow;
    width: 44px;
    height: 44px;
    background-image: url("../images/shared/icon_anchor_arrow.svg");
    background-size: 17.5px 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color_yellow;
    border-radius: 50%;
    margin-right: 0;
    margin-left: auto;
    @include cmn_transition(background-color);

    @include mq(sm) {
      width: 60px;
      height: 60px;
      background-size: 24px 23px;

      &:hover {
        background-color: $hov_yellow;
      }
    }

    a {
      @extend %hide_text_inner;
      pointer-events: all;
    }
  }

  .nav {
    white-space: nowrap;
    padding-top: vw(60);

    @include mq(sm) {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
    }

    &_col--pc {
      @include mq(sm) {
        flex: 1;

        &[data-col="things"] {
          flex: 1.1;
        }

        &[data-col="f_d"] {
          flex: 1.1;
        }

        &[data-col="h_r"] {
          flex: 1.3;
        }

        &[data-col="shopping"] {
          flex: 0.85;
        }

        &[data-col="t_d"] {
          flex: 1.2;
        }
      }

      .nav_item+.nav_item {
        @include mq(sm) {
          margin-top: 40px;
        }
      }
    }

    &_item {
      list-style: none;
      font-size: rem(11);
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid #404040;
      letter-spacing: 0.15rem;

      @include mq(sm) {
        border-bottom: none;
        font-size: 11px;
        flex: 1;
      }

      @include mq(md) {
        font-size: 13px;
      }

      @include mq(lg) {
        font-size: 16px;
      }

      &:first-child {
        border-top: 1px solid #404040;

        @include mq(sm) {
          border-top: none;
        }
      }

      &.sp_accordion {
        .sub_nav {
          display: none;

          @include mq(sm) {
            display: block;
          }
        }

        &>a::after,
        &>div::after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0.5rem 0.45rem 0 0.45rem;
          border-color: #fff transparent transparent transparent;
          position: absolute;
          right: vw(18);
          top: 50%;
          margin-top: -0.25rem;

          @include mq(sm) {
            display: none;
            border: none;
            top: auto;
            right: auto;
            margin-top: 0;
          }
        }

        &.open {
          &>a::after {
            transform: rotate(180deg);
          }

          .sub_nav {
            display: block;
          }
        }
      }

      a,
      .nav_item_title {
        display: block;
        width: 100%;
        height: 100%;
        padding: vw(26) 0;
        color: white;
        position: relative;
        background-color: transparent;
        border: 0;

        @include mq(sm) {
          display: inline-block;
          width: auto;
          padding: 0;
        }

        &:hover,
        &:focus {
          background-color: transparent;
          text-decoration: none;
        }
      }
    }
  }

  .sub_nav {
    padding: 0;

    &_item {
      padding-left: vw(50);
      //padding-left: vw(72);
      font-weight: normal;
      list-style: none;

      @include mq(sm) {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 0;
        //padding-left: 12px;
      }

      a {
        padding: vw(24) 0;

        @include mq(sm) {
          width: auto;
          padding-top: 0;
          padding-bottom: 0;
          color: rgba(#fff, 0.7);
        }

        &:hover {
          text-decoration: none;
        }
      }

      &--index {
        padding-left: vw(50);
        font-weight: bold;

        @include mq(sm) {
          padding-right: 20px;
          padding-left: 0;
          display: none;
        }
      }
    }
  }

  .nav_item,
  .sub_nav_item {
    line-height: 1em;

    a {
      @include mq(sm) {
        display: inline-block;
        font-weight: normal;
        position: relative;

        &::after {
          display: inline-block;
          width: 100%;
          height: 2px;
          background-color: $color_yellow;
          position: absolute;
          bottom: -4px;
          left: 0;
          content: "";
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .3s;
        }

        &:hover {
          &::after {
            transform: scale(1, 1);
          }
        }
      }
    }
  }

  .sub_nav_item {
    @include mq(sm) {
      display: inline-block !important;
    }
  }

  &_sub_info {
    @include mq(sm) {
      position: relative;
      margin-top: 30px;
    }
  }

  &_partnership,
  &_copyright {
    display: block;
    text-align: center;
    font-size: rem(11);
    color: #fff;
    letter-spacing: 0.15rem;

    @include mq(sm) {
      font-size: 16px;
      text-align: left;
    }
  }

  &_partnership {
    margin: vw(55) 0;

    @include mq(sm) {
      margin-top: 0;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .text {
      &::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: rem(8);
        margin: 0 rem(10);
        background-color: #fff;
        position: relative;

        @include mq(sm) {
          width: 2px;
          height: 13px;
        }
      }
    }

    .logo {
      @extend %hide_text;
      display: inline-block;
      width: rem(104);
      height: rem(16.5);
      background-image: url("../images/shared/logo_savorjapan.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: rem(4.125);

      @include mq(sm) {
        width: 172px;
        height: 27px;
        top: 7px;
      }
    }
  }
}
