.related-round {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mq(sm) {
    justify-content: center;
  }
  a {
    flex: 0 0 calc(50% - 60px);
    margin-right: 60px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    @include mq(sm) {
      width: auto;
      flex: 0 0 calc(25% - 115px);
      margin-right: 115px;
      margin-bottom: 75px;
      &:nth-child(2n) {
        margin-right: 115px;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    &:hover {
      transition: opacity 0.5s;
      opacity: 0.7;
    }
    .img-container {
      position: relative;
      width: 100%; /* The size you want */
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
      }
      img {
        border-radius: 400px;
        position: absolute; /* Take your picture out of the flow */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; /* Make the picture taking the size of it's parent */
        width: 100%; /* This if for the object-fit */
        height: 100%; /* This if for the object-fit */
        object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
        object-position: center;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: -1.5px;
      text-align: center;
      color: #333333;
      @include mq(sm) {
        font-size: 24px;
      }
    }
  }
}
