.select_row + .select_row {
  margin-top: 20px;
}

.select_list {
  position: relative;
  width: 100%;
  @include mq(sm) {
    width: 60%;
    margin: 0 auto;
  }

  .sub {
    display: none;
    position: absolute;
    border-top: 4px solid #f2a900;
    background: white;
    width: 100%;
    z-index: 99;
    ul {
      display: flex;
      border: 1px solid #ddd;
      flex-wrap: wrap;
    }
    li {
      list-style: none;
      flex: 0 0 50%;
      @include mq(sm) {
        flex: 0 0 33.3333%;
      }
      padding: 10px;
      &:hover {
        background: #f2a900;
      }
    }
    &:after {
      display: block;
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -8px;
      border: 8px solid transparent;
      border-bottom-color: #f2a900;
      content: "";
    }
  }
  &:hover .sub {
    display: block;
    cursor: pointer;
  }
  .selected {
    display: block;
    cursor: initial;
    padding-left: 16px;
    border: solid 2px #f2a900;
    border-radius: 8px;
    line-height: 48px;
    color: #555555;
    position: relative;
    &:after {
      transform: rotate(45deg);
      transition: all 0.5s;
      position: absolute;
      top: 18px;
      right: 32px;
      width: 10px;
      height: 10px;
      border-right: 2px solid #f2a900;
      border-bottom: 2px solid #f2a900;
      content: "";
    }
  }
}
