//@import "../base/_variables";

.sns_links {
  margin-top: vw(110);
  margin-bottom: vw(100);
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;

  @include mq(sm) {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  &-title {
    text-align: center;
    font-size: rem(11);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: vw(35);

    @include mq(sm) {
      font-size: 16px;
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    gap: 0 20px;

    @include mq(sm) {
      // max-width: 278px;
      gap: 0 10px;
    }
  }

  &-item {
    @extend %hide_text;
    list-style: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: vw(50);
    height: vw(50);
    @include cmn_transition(opacity);
    opacity: 1;

    @include mq(sm) {
      width: 38px;
      height: 38px;
      background-size: auto;

      &:hover {
        opacity: 0.7;
      }
    }

    a {
      @extend %hide_text_inner;
    }

    &.weibo {
      background-image: url("../images/shared/icon_weibo.svg");
      // background-size: vw(50);

      @include mq(sm) {
        background-size: 31px;
      }
    }

    &.tw {
      background-image: url("../images/shared/icon_twitter.png");
      background-size: vw(37) vw(31);

      @include mq(sm) {
        background-size: 29px 24px;
      }
    }

    &.x {
      background-image: url("../images/shared/icon_x.svg");

      @include mq(sm) {
        background-size: 25px;
      }
    }

    &.fb {
      background-image: url("../images/shared/icon_facebook.svg");
      // background-size: vw(20) vw(37);

      @include mq(sm) {
        // background-size: 15px 28px;
        background-size: 28px;
      }
    }

    &.insta {
      background-image: url("../images/shared/icon_instagram.svg");
      // background-size: vw(37);

      @include mq(sm) {
        background-size: 29px;
      }
    }

    &.yt {
      background-image: url("../images/shared/icon-youtube.svg");
      // background-size: vw(36);

      @include mq(sm) {
        background-size: 28px;
      }
    }

    &.pn {
      background-image: url("../images/shared/icon_pinterest.svg");
      // background-size: vw(30) vw(36);

      @include mq(sm) {
        // background-size: 22px 28px;
        background-size: 28px;
      }
    }

    &.gp {
      background-image: url("../images/shared/icon_googleplus.png");
      background-size: vw(50) vw(33);

      @include mq(sm) {
        background-size: 38px 25px;
      }
    }
  }

  &-newsletter {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: rem(12);


    @include mq(sm) {
      margin-top: 40px;
      font-size: rem(16);
    }

    &>a {
      color: $color_black;

      &:hover {
        color: $color_yellow;
      }
    }
  }
}
