// static Pages
.staticPages {
  padding-top: 40px;
  padding-bottom: 60px;

  @include mq(sm) {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .post_main {
    margin-left: auto;
    margin-right: auto;
  }

  &_heading {
    font-size: 2rem;
    margin: 0 0 1.8em;

    @include mq(sm) {
      font-size: 2.2rem;
    }
  }

  &_subHeading {
    font-size: 1.8rem;
    margin: 0 0 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid #f2a900;

    @include mq(sm) {
      font-size: 2rem;
    }
  }

  &_contents {
    section {
      padding-bottom: 10px;

      @include mq(sm) {
        padding-bottom: 20px;
      }

      &+section {
        margin-top: 10px;

        @include mq(sm) {
          margin-top: 20px;
        }
      }
    }
  }

  &_ttl {
    font-size: 1.6rem;
    margin: 0 0 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #f2a900;

    @include mq(sm) {
      font-size: 1.8rem;
    }
  }

  .related_posts {
    margin-top: 45px;

    @include mq(sm) {
      margin-top: 60px;
    }
  }

  .related_title {
    font-size: 1.8rem;
    margin: 0 0 2em;

    @include mq(sm) {
      font-size: 2rem;
    }
  }
}

.newsletter {
  &_desc {
    font-size: 1.4rem;
    line-height: 1.6;

    @include mq(sm) {
      font-size: 1.8rem;
    }
  }

  &_form {
    margin-top: 40px;
    padding: 40px 20px;
    background-color: #f4f4f4;

    @include mq(sm) {
      padding: 80px;
    }

    .indicates-required {
      text-align: right;
    }

    .asterisk {
      color: #ff0000;
    }

    .mc-field-group {
      margin-top: 20px;

      @include mq(sm) {
        margin-top: 30px;
      }

      input[type="email"] {
        width: 100%;
        line-height: 36px;
        display: block;
      }
    }

    &-action {
      input[type="submit"] {
        display: block;
        width: 100%;
        text-align: center;
        background: #f2a900;
        color: #222;
        border: none;
        padding: 12px 0;
        font-weight: bold;
        margin-top: 20px;
        border-radius: 2px;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    &#mc_embed_signup div.mce_inline_error {
      background-color: transparent;
      color: #ff0000;
    }

    #mce-responses {
      text-align: center;
      font-weight: bold;
      font-size: 1.4rem;
      margin-top: 1em;

      @include mq(sm) {
        font-size: 1.8rem;
      }

      #mce-error-response {
        color: #ff0000;
      }

      #mce-success-response {}
    }
  }
}

.privacy {
  &_lists {
    margin-bottom: 4em;
    list-style-type: none;

    li {
      font-size: 1.8rem;
      position: relative;
      padding-left: 1em;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top: 6px solid #333;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        width: 12px;
        height: 12px;
        margin-top: 3px;
      }

      &>a {
        color: #333;

        &:hover {
          color: #5a738e;
        }
      }
    }
  }

  &_sect {

    h3 {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0 0 1em;

      @include mq(sm) {
        font-size: 1.6rem;
      }
    }

    h4 {
      font-weight: bold;
      font-size: 1.4rem;
      margin: 1.5em 0 .5em;

      @include mq(sm) {
        font-size: 1.5rem;
      }
    }

    h5 {
      font-weight: bold;
      font-size: 1.4rem;

      @include mq(sm) {
        font-size: 1.5rem;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 1em !important;
    }
  }
}
