
<div class="fullsize-header" style="background-image: url(<%=@pickup.image.url(:large) %>)">
<div class="container">
  <h1><%= title @pickup[:title] %></h1>
  <p class="view-description"><%= description @pickup[:content] %></p>
</div>
</div>
<div class="container nopadding-container">
  <div class="col-xs-12 col-sm-8">
    
  </div>
</div>