<% set_meta_tags noindex: true %>
<div class="container staticPages">
  <h1 class="staticPages_heading"><%= title 'Instagram Posts' %></h1>
  <div class="staticPages_contents">
    <%= react_component('pages/instagram_embed') %>
  </div>
</div>
