<% set_meta_tags noindex: true, nofollow: true %>

<div class="container staticPages">
  <h1 class="staticPages_heading"><%= title t("static.terms_travel.headline") %></h1>
  <div class="staticPages_contents">
    <%= t("static.terms_travel.desc_html") %>
  </div>
</div>
