<div class="container staticPages">
  <h1 class="staticPages_heading"><%= title t("static.terms.headline") %></h1>
  <div class="staticPages_contents">
    <%= t("static.terms.text_html") %>
  </div>
</div>
