.article-to-pick {
  cursor: pointer;
  padding: 2px;
  border: 1px solid #ddd;
  margin: 5px 0;
}
.headings {
  .column-title {
    select {
      background: transparent;
      border: none;
    }
  }
}

.tagged-input-wrapper {
  border-width: 1px;
  border-style: solid;
  border-color: #dadada;
  padding: 2px;
}

.tagged-input-wrapper .tagged-input {
  border: none;
  outline: none;
}

.tagged-input-wrapper{ 
  .tag .tag-text {
    padding-left: 5px;
  }
  .tag {
    display: inline-block;
    background-color: #E9E9E9;
    padding: 2px 0px 2px 2px;
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 2px;
    &.duplicate {
      background: #FFDB7B;
    }
    .remove {
      color: #a0a0a0;
      padding: 0px 4px;
      font-size: 75%;
      line-height: 100%;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
    .remove, .tag-text{
      display: inline-block;
    }
    .tag-text {
      color: black;
    }
  }
}