// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.d-top-art {
  border-bottom: 1px solid #E6E9ED;
  padding-bottom: 3px;
  padding-top: 3px;
}