$theme-blue : #3498DB;
$theme-blue-sky : #50C1CF;
$theme-purple : #9B59B6;
$theme-green : #1ABB9C;
$theme-aero : #9CC2CB;
$theme-red : #E74C3C;
$theme-dark : #34495E;
$theme-background-dark : #3E5367;
$theme-orange : #F39C12;
$theme-light-grey : #999999;

$theme-background-color : #2A3F54;
$theme-color : #73879C;
