/* ---------------------------------------------------------
.obj-fit
----------------------------------------------------------*/
img.obj-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------------------------------------
Menu
----------------------------------------------------------*/
.gmenu li a {
  &:hover {
    text-decoration: none !important;
  }
}

/* ---------------------------------------------------------
main
----------------------------------------------------------*/
.main {
  @include mq(sm) {
    margin-top: -10px;
  }

  @include mq(md) {
    margin-top: 115px;
  }
}

.area-hero {
  min-height: 30vh;
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include mq(sm) {
    padding-top: 0;
    height: 740px;
  }

  &.hokkaido {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/hokkaido/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/area/feature/hokkaido/hero.jpg");
    }
  }

  &.tohoku {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/tohoku/hero_mob.jpg");
    background-position: top center;

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/tohoku/hero.jpg");
    }
  }

  &.kyushu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/area/feature/kyushu/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/area/feature/kyushu/hero.jpg");
    }
  }

  &.okinawa {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/okinawa/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/area/feature/okinawa/hero.jpg");
      background-position: top center;
    }
  }

  &.shikoku {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/shikoku/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/shikoku/hero.jpg");
    }
  }

  &.setouchi {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/setouchi/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/setouchi/hero.jpg");
    }
  }

  &.kanto {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/kanto/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/kanto/hero.jpg");
    }
  }

  &.kansai {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/kansai/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/kansai/hero.jpg");
    }
  }

  &.chubu {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/chubu/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/chubu/hero.jpg");
    }
  }

  &.chugoku {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/chugoku/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/area/feature/chugoku/hero.jpg");
    }
  }

  &.planning-a-trip-to-japan {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/planning_a_trip_to_japan/hero_mob.jpg");

    @include mq(sm) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/planning_a_trip_to_japan/hero.jpg");
    }
  }

  #teaser {
    justify-self: center;
    align-self: center;
    color: black;
    width: 800px;
    height: auto;
    padding: 0 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq(sm) {
      color: white;
      background: transparent;
      padding: 30px;
      height: 340px;

      img {
        margin-bottom: 25px;
      }
    }
  }

  h1 {
    font-size: 30px;
    color: white;
    line-height: 36px;
    margin-bottom: 0;
    font-weight: bold;
    text-shadow: 1px 1px 3px #444;
    padding-top: 0;
    margin-top: 0;

    @include mq(sm) {
      font-size: 100px;
      line-height: initial;
      padding-bottom: 40px;
    }
  }
}


/* ---------------------------------------------------------
.nav-local
----------------------------------------------------------*/
.nav-local {
  background: #f0f0f2;
  padding: 80px 0;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    position: relative;
    width: 220px;
    min-height: 200px;
    margin: 0 15px;
    list-style: none;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      background: #fff;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
      padding: 25px 0 40px;
      box-sizing: border-box;
      color: black;

      &:hover {
        text-decoration: none;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 35px;
        left: 50%;
        display: block;
        width: 20px;
        height: 11px;
        background: url("../images/area/feature/common/icon_arrow.svg") no-repeat;
        background-size: contain;
        margin-left: -10px;
      }
    }
  }

  .pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s;
  }

  .num {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 4px;
    border-bottom: 2px solid #FFCC00;
    margin-bottom: 15px;
  }

  .nav-ttl {
    // width: 180px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    padding: 0 15px;
    // margin: 0 auto;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width:769px) {
  .nav-local li a:hover .pic {
    opacity: 1;
  }
}

@media screen and (min-width:769px) and (max-width:1000px) {
  .nav-local {
    padding: 8vw 0;

    li {
      width: 22vw;
      min-height: 24vw;
      margin: 0 1.5vw;

      a {
        box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
        padding: 2.5vw 0 4vw;
      }
    }

    .num {
      font-size: 2.8vw;
      padding-bottom: .4vw;
      margin-bottom: 1.5vw;
    }

    .nav-ttl {
      // width: 81%;
      font-size: 2vw;
      line-height: 1.4;
      padding: 0 10px;
    }
  }
}

/* ---------------------------------------------------------
article
----------------------------------------------------------*/
// article {
//   padding: 175px 0 0;
// }
.area-contents {
  padding: 175px 0 0;
}

.sec {
  position: relative;
  max-width: 966px;
  margin: 0 auto 175px;
}

.sec .txt-block {
  width: 410px;
}

.sec .num {
  position: relative;
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 22px;
}

.sec .num::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 102px;
  display: block;
  width: 30px;
  height: 2px;
  background: #FFCC00;
  margin-top: -1px;
}

.sec h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 28px;
}

.sec .txt {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 55px;
}

.sec .pic {
  position: absolute;
  top: 13px;
  right: 0;
  width: 449px;
  height: 449px;
  border-radius: 50%;
  overflow: hidden;
}

.sec .btn {
  width: 100%;

  @include mq(sm) {
    width: 0;
  }
}

.sec .btn a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background: #fff;
  border: 1px solid #1C1C1C;
  border-radius: 30px;
  margin-left: auto;
  box-sizing: border-box;
  transition: all .3s;
}

.sec .btn a:hover {
  text-decoration: none;
}

.sec:nth-child(even) .txt-block {
  margin: 0 13px 0 auto;
}

.sec:nth-child(even) .pic {
  right: auto;
  left: 0;
}

@media screen and (min-width:769px) {
  .sec .btn a:hover {
    color: #fff;
    background: #1C1C1C;
  }

  .sec .btn a:hover::after {
    content: "";
    position: absolute;
    bottom: 29px;
    right: -21px;
    display: block;
    width: 41px;
    height: 2px;
    background-color: #fc0;
    animation: lineAnimation .4s ease-out 0s 1 both;
  }
}

@media screen and (min-width:769px) and (max-width:1000px) {

  // article {
  //   padding: 17.5vw 0 0;
  // }
  .area-contents {
    padding: 17.5vw 0 0;
  }

  .sec {
    width: 96.6%;
    margin: 0 auto 17.5vw;
  }

  .sec .txt-block {
    width: 41vw;
  }

  .sec .num {
    font-size: 8vw;
    margin-bottom: 2.2vw;
  }

  .sec .num::after {
    left: 10.2vw;
    width: 3vw;
  }

  .sec h2 {
    font-size: 2.8vw;
    margin-bottom: 2.8vw;
  }

  .sec .txt {
    font-size: 1.8vw;
    margin-bottom: 5.5vw;
  }

  .sec .pic {
    top: 1.3%;
    width: 44.9vw;
    height: 44.9vw;
  }

  .sec .btn a {
    width: 33.5vw;
    height: 6vw;
    font-size: 1.8vw;
    border-radius: 3vw;
  }

  .sec .btn a:hover::after {
    bottom: 2.9vw;
    right: -2.1vw;
    width: 4.1vw;
    transform: translateY(-50%);
  }
}

/* ---------------------------------------------------------
#service
----------------------------------------------------------*/
#service {
  margin-bottom: 145px;
}

#service h2 {
  font-size: 48px;
  line-height: 1;
  text-align: center;
  margin-bottom: 35px;
}

#service .lead {
  max-width: 900px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding: 0 18px;
  margin: 0 auto 80px;
  box-sizing: border-box;
}

#service .num {
  font-size: 18px;
  text-align: center;
  color: #CACACC;
  line-height: 1;
  margin-top: 26px;
}

#service .num .now {
  color: #333;
}

@media screen and (min-width:769px) and (max-width:1000px) {
  #service {
    margin-bottom: 14.5vw;
  }

  #service h2 {
    font-size: 4.8vw;
    margin-bottom: 3.5vw;
  }

  #service .lead {
    max-width: 90vw;
    font-size: 1.8vw;
    padding: 0 1.8vw;
    margin: 0 auto 8vw;
  }
}


#service .slider .block div {
  position: absolute;
  //top: 50%;
  bottom: 15px;
  //left: 50%;
  //-ms-transform: translate(-50%,-50%);
  //-webkit-transform: translate(-50%,-50%);
  //transform: translate(-50%,-50%);
  //z-index: 150;
  color: #fff;

  img {
    width: 100%;
  }

  margin: 0 15px;
  padding: 0;

  @include mq(md) {
    margin: 0 45px;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.3rem;
    color: #eeeeee;
    text-shadow: 1px 1px 3px #444;

    @include mq(md) {
      font-size: 3rem;
    }
  }
}

/* ---------------------------------------------------------
#service
----------------------------------------------------------*/
.service {
  margin-bottom: 145px;
}

.service h2 {
  font-size: 48px;
  line-height: 1;
  text-align: center;
  margin-bottom: 35px;
}

.service .lead {
  max-width: 900px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding: 0 18px;
  margin: 0 auto 80px;
  box-sizing: border-box;
}

.service .num {
  font-size: 18px;
  text-align: center;
  color: #CACACC;
  line-height: 1;
  margin-top: 26px;
}

.service .num .now {
  color: #333;
}

@media screen and (min-width:769px) and (max-width:1000px) {
  .service {
    margin-bottom: 14.5vw;
  }

  .service h2 {
    font-size: 4.8vw;
    margin-bottom: 3.5vw;
  }

  .service .lead {
    max-width: 90vw;
    font-size: 1.8vw;
    padding: 0 1.8vw;
    margin: 0 auto 8vw;
  }
}


.service .slider .block div {
  position: absolute;
  //top: 50%;
  bottom: 15px;
  //left: 50%;
  //transform: translate(-50%,-50%);
  //z-index: 150;
  color: #fff;
  margin: 0 15px;
  padding: 0;

  @include mq(md) {
    margin: 0 45px;
  }

  img {
    width: 100%;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.3rem;
    color: #eeeeee;
    text-shadow: 1px 1px 3px #444;

    @include mq(md) {
      font-size: 3rem;
    }
  }
}



/* ---------------------------------------------------------
media queries
----------------------------------------------------------*/
@media screen and (max-width:768px) {

  /* ---------------------------------------------------------
  common
  ----------------------------------------------------------*/
  .show-pc {
    display: none;
  }

  .show-sp {
    display: block;
  }


  /* ---------------------------------------------------------
  .nav-local
  ----------------------------------------------------------*/
  .nav-local {
    padding: 13.3vw 0 5.3vw;

    ul {
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: .67%;
    }

    li {
      width: 43%;
      height: auto;
      min-height: 30.8vw;
      margin: 0 3.3% 8vw;

      a {
        box-shadow: 0 .8vw 1.6vw rgba(0, 0, 0, .16);
        padding: 4.2vw 0 9.6vw;

        &::after {
          bottom: 3.7vw;
          width: 5vw;
          height: 2.8vw;
          margin-left: -2.5vw;
        }

        &.hover .pic {
          opacity: 1;
        }
      }
    }

    .num {
      font-size: 5.3vw;
      padding-bottom: 1.4vw;
      border-bottom: 2px solid #FFCC00;
      margin-bottom: 2.4vw;
    }

    .nav-ttl {
      // width: 32vw;
      font-size: 3.6vw;
      line-height: 1.2;
      position: static;
      top: auto;
      left: auto;
      transform: translate(0, 0);
    }
  }

  /* ---------------------------------------------------------
  article
  ----------------------------------------------------------*/
  // article {
  //   padding: 20vw 0 0;
  // }
  .area-contents {
    padding: 20vw 0 0;
  }

  .sec {
    position: relative;
    width: 88vw;
    margin: 0 auto 21vw;
  }

  .sec .txt-block {
    width: 100%;
  }

  .sec .num {
    font-size: 13.33vw;
    margin-bottom: 6.3vw;
  }

  .sec .num::after {
    left: 17vw;
    width: 6.66vw;
  }

  .sec h2 {
    font-size: 5.6vw;
    margin-bottom: 4.8vw;
  }

  .sec .txt {
    font-size: 3.6vw;
    line-height: 1.75;
    margin-bottom: 10.4vw;
  }

  .sec .pic {
    position: relative;
    top: auto;
    right: auto;
    width: 53.3vw;
    height: 53.3vw;
    margin: 0 auto 10.66vw;
  }

  .sec .btn a {
    width: 64vw;
    height: 14.66vw;
    font-size: 4.26vw;
    border-radius: 7.33vw;
    margin: 0 auto;
  }

  .sec .btn a.hover {
    color: #fff;
    background: #1C1C1C;
  }

  .sec .btn a.hover::after {
    content: "";
    position: absolute;
    bottom: 7vw;
    right: -5.3vw;
    display: block;
    width: 10.9vw;
    height: 2px;
    background-color: #fc0;
    -webkit-animation: lineAnimation .4s ease-out 0s 1 both;
    animation: lineAnimation .4s ease-out 0s 1 both;
  }

  /* ---------------------------------------------------------
  #service
  ----------------------------------------------------------*/
  #service {
    padding-top: 1.8vw;
    margin-bottom: 22.1vw;
  }

  #service h2 {
    font-size: 6.66vw;
    margin-bottom: 7.2vw;
  }

  #service .lead {
    width: 88vw;
    font-size: 3.6vw;
    line-height: 1.73;
    padding: 0;
    margin: 0 auto 12.6vw;
  }

  #service .num {
    font-size: 3.2vw;
    margin-top: 4.4vw;
  }
}


/**** slider *****/
.swiper-container {
  width: 100%;
  //height: 250px;
  height: 25vh;

  @include mq(sm) {
    height: 300px;
  }

  @include mq(md) {
    height: 400px;
  }
}

.swiper-slide {
  position: relative;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    word-break: normal;
    position: relative;
  }

  div {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    // bottom: 5%;
    bottom: 0;
    color: #eee;
    text-shadow: 1px 1px 3px #444;
    // margin: 0 15px;
    padding: 0 10px 10px;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7));

    @include mq(md) {
      font-size: 2rem;
      padding: 0 15px 15px;
    }
  }
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  border: none;
  box-shadow: none;
  background: #f2a900;

  @include mq(sm) {}

  &.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
  }

  &::after,
  .swiper-container-rtl {
    content: none;
    border: none;
    box-shadow: none;
  }

  &::before {
    // border: none;
    box-shadow: none;
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &:focus {
    outline: none;
  }
}

.swiper-button-prev {
  // background: url(../images/area/feature/kyushu/icon_arrow_slide.svg) no-repeat center center / contain;
  // transform: scale(-1, 1);
  @include selectNone;

  &::before {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(-50%, -50%) rotate(-135deg);
    margin-left: 5px;
  }
}

.swiper-button-next {
  // background: url(../images/area/feature/kyushu/icon_arrow_slide.svg) no-repeat center center / contain;
  @include selectNone;

  &::before {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(-50%, -50%) rotate(45deg);
    margin-left: -5px;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 20px;
  right: auto;

  @include mq(sm) {
    left: 12%;
  }

  @include mq(md) {
    left: 23%;
  }

  @media screen and (min-width:1200px) {
    left: 27%;
  }

  @media screen and (min-width:1600px) {
    left: 31%;
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 20px;
  left: auto;

  @include mq(sm) {
    right: 12%;
  }

  @include mq(md) {
    right: 23%;
  }

  @media screen and (min-width:1200px) {
    right: 27%;
  }

  @media screen and (min-width:1600px) {
    right: 31%;
  }
}

//* {
//  @include selectNone;
//}

/*********************************
  planning a trip to japan Page
******************************** */
.planning_trip {
  .service {
    margin-bottom: 50px;

    @include mq(sm) {
      margin-bottom: 100px;
    }
  }

  .area-contents {
    padding: 30px 0 0;

    @include mq(sm) {
      padding: 50px 0 0;
    }
  }
}

.planning-a-trip-to-japan {
  h1 {
    font-size: 26px;

    @include mq(sm) {
      font-size: 60px;
      line-height: 1.5;
    }
  }
}

.planning-h3 {
  line-height: 1.4em;
  text-align: left;
  font-size: 16px;
  color: #000;
  max-width: 900px;
  margin: 0 auto 80px;
  padding: 0 15px;

  @include mq(sm) {
    padding: 0;
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 120px;
  }
}

.service {
  h2 {
    font-size: 35px;

    @include mq(sm) {
      font-size: 48px;
    }
  }

  .lead {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: normal;
    margin: 0 auto 40px;

    @include mq(sm) {
      font-size: 18px;
      line-height: 1.5em;
      margin: 0 auto 80px;
    }
  }
}
