//
// Clip
// --------------------------------------------------

.clip {
  padding-top: vw(75);
  @include mq(sm) {
    padding-top: 50px;
  }
  .section {
    padding-bottom: 0;
    background-color: transparent;
  }
  &_section {
    .section_intro {
      font-size: 18px;
      line-height: 1.7;
      margin-bottom: vw(80);
      @include mq(sm) {
        margin-bottom: 60px;
      }
    }
  }
  &_articleList {
    margin-bottom: vw(120);

    @include mq(sm) {
      margin-bottom: 100px;
    }

    .message {
      text-align: center;
    }

    &-item {
      position: relative;
      width: 100%;

      .ads-infeed {
        height: 100px;

        @include mq(sm) {
          height: 200px;
        }
      }
      &+.clip_articleList-item{
        margin-top: vw(50);

        @include mq(sm) {
          margin-top: 40px;
        }
      }
    }
  }
}

// article
.clip-article {
  display: block;
  overflow: hidden;

  &:hover {
    text-decoration: none;
    // img {
    //   opacity: .7;
    // }
  }

  &_images {
    float: left;
    width: vw(250);
    margin-right: vw(20);
    // background-color: #000;
    position: relative;
    border-radius: 6px;

    @include mq(sm) {
      width: percentage(250 / 720);
      margin-right: percentage(20 / 720);
      font-size: 12px;
      border-radius: 10px;
    }

    img {
      display: block;
      width: 100%;
      transition: opacity ease-out 0.2s;
      border-radius: 6px;

      @include mq(sm) {
        border-radius: 10px;
      }
    }
  }

  &_image {
    width: 128px;
    height: auto;

    @include mq(sm) {
      width: 100%;
    }
  }

  &_content {
    margin-left: vw(270);
    color: #000;

    @include mq(sm) {
      margin-left: percentage(270 / 720);
      // padding-bottom: 45px;
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    font-size: rem(11);
    font-style: italic;
    margin-bottom: vw(10);

    @include mq(sm) {
      justify-content: flex-start;
      margin-bottom: 10px;
      font-size: 12px;
    }

    .header_category {
      margin: 0;
      padding-left: vw(33);
      font-weight: bold;
      position: relative;

      @include mq(sm) {
        min-width: 115px;
        padding-left: 22px;
        margin-right: 30px;
      }

      &::before {
        content: "";
        display: block;
        width: vw(28);
        height: vw(28);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include mq(sm) {
          width: 17px;
          height: 17px;
        }
      }

      &.is-todo::before {
        background-image: url("../images/shared/icon_todo_black.png");
      }

      &.is-tips::before {
        background-image: url("../images/shared/icon_tips_black.png");
      }

      &.is-shopping::before {
        background-image: url("../images/shared/icon_shopping_black.png");
      }

      &.is-food::before {
        background-image: url("../images/shared/icon_food_black.png");
      }

      &.is-hotel::before {
        background-image: url("../images/shared/icon_hotel_black.png");
      }
    }

    .header_date {
      margin: 0;
    }
  }

  &_heading {
    margin: 0 0 vw(10);
    font-size: rem(13.5);
    font-weight: bold;

    @include mq(sm) {
      margin-bottom: 10px;
      font-size: 18px;
    }

    @at-root .clip-article:hover & {
      text-decoration: underline;
    }
  }

  &_text {
    margin: 0;
    font-size: rem(12);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @include mq(sm) {
      font-size: 12px;
      white-space: initial;
    }

    @at-root .clip-article:hover & {
      text-decoration: underline;
    }
  }

  &_remove {
    margin-top: vw(30);
    padding: vw(8) vw(56);
    background-color: #1c1c1c;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: rem(12);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: background ease-out 0.2s;

    @include mq(sm) {
      margin-top: 0;
      padding: 7px 15px;
      border-radius: 0;
      font-size: 16px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: auto;
      transform: none;
    }

    &:hover {
      background-color: #333;
    }

    .remove_inner {
      display: inline-block;
      padding-right: vw(33);
      position: relative;
      pointer-events: none;

      @include mq(sm) {
        padding-right: 21px;
      }

      &::after {
        content: "";
        width: vw(23);
        height: vw(27);
        background: url("../images/shared/icon_clip.png") no-repeat 0 0;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @include mq(sm) {
          width: 16px;
          height: 18px;
        }
      }
    }
  }
}
