.contact-form {

  input,
  textarea {
    background: #f9f9f9;
    border: #e9e9e9;
    box-shadow: none;
    border-radius: 0;
  }

  select {
    border-radius: 0;
  }

  text-area {
    min-height: 150px;
  }

  .btn-blue {
    background: #00ccff;
    color: white;

  }
}
