.partner {
  &__lists {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 0;

    @include mq(sm) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__list {

    &>a {
      transition: all 0.3s;
      word-break: break-word;
      display: block;
      margin: auto;
      width: 100%;
      color: #929292;
      font-size: 12px;
      text-align: center;

      @include mq(sm) {
        max-width: 160px;
        font-size: 14px;
      }

      &:hover {
        opacity: .6;
      }
    }
  }

  &__img {
    margin: auto;
  }

  &__name {
    margin-top: .5em;
  }
}
