.tour-wrapper {
  display: flex;
  flex-wrap: wrap;

  .tour-child {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    & > div {
      display: flex;
      flex-direction: column;
    }
  }

  @include mq(sm) {
    margin: -25px 0 0 -25px;
    .tour-child {
      margin: 25px 0 0 25px;
      width: calc(100% * (1 / 3) - 25px - 1px);
      flex-grow: 0;
    }
  }
  .tour-body {
    margin-bottom: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  .sub-details {
    font-style: italic;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
    flex-grow: 1;
  }
  span {
    color: #333333;
  }
  .details-btn {
    display: block;
    background: $color_yellow;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .external-button {
    display: block;
    background: white;
    text-align: center;
    font-size: 14px;
    color: black;
    border: 1px solid #c9c9c9;
    padding: 7px;
    margin-bottom: 5px;
    span {
      position: relative;
      padding-right: 25px;
      &:after {
        content: " ";
        width: 15px;
        height: 16px;
        background: url("../images/icons/outgoing.png") no-repeat;
        position: absolute;
        right: 0;
        top: 1px;
      }
    }
  }
  .area {
    position: relative;
    padding-left: 17px;
    &:before {
      content: " ";
      width: 13px;
      height: 17px;
      background: url("../images/icons/small_area_icon.png") no-repeat;
      position: absolute;
      left: 0px;
    }
  }
}

.flex-column {
  flex-direction: column;
}

.video-fullwidth-wrapper {
  position: relative;
  @include mq(sm) {
    width: 100%;

    padding-left: 24px;
    padding-top: 50px;
  }
}
.hide-video {
  color: white;
  position: absolute;
  top: 20px;
  display: none;
  right: 60px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 40px;
  padding-top: 3px;
  cursor: pointer;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25% !important; /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
  @include mq(sm) {
    padding: 40px;
    margin: 0 auto;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

.video-user-name {
  color: #9a9a9a;
}

.video-container {
  .tour-child:hover {
    opacity: 0.8;
    transition: all 0.2s;
    cursor: pointer;
  }
}
