<%= render 'page_title' %>

<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>New</h2>
      <%= link_to admin_areas_path, class: "pull-right btn btn-default" do %>
      <i class="icon-list"></i>
      Index
      <% end %>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </div>

    <%= render 'form' %>

  </div>
</div>
