/**
  Default Variables
*/
@import "base/variables";

/**
  base
*/
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "base/function";
@import "base/mixins";
@import "base/common";

//@import "./DateTime.scss";

//Import vendor source files
@import "react-responsive-carousel/lib/styles/carousel.min.css";

/**
  module
*/
// @import "module/_button";

/**
  layout
*/
@import "layout/section";
@import "layout/container";
@import "layout/hero";

/**
  page
*/
@import "editor/editor";
@import "page/pages";
@import "page/restaurant_search";
@import "page/top";
@import "page/top/hero";
@import "page/area";
@import "page/clip";
@import "page/restaurant";
@import "page/post";
@import "page/things";
@import "page/tour";
@import "page/partner";
@import "page/coupons";
@import "page/contact";
@import "page/jobs";
@import "page/dmc";

/**
  partials
*/
@import "partials/ads_slider";
@import "partials/carousel";
@import "partials/critical";
@import "partials/advertisement";
@import "partials/footer";
@import "partials/search";
@import "partials/header";
@import "partials/sidebar";
@import "partials/article_list";
@import "partials/article_block";
@import "partials/sns_links";
@import "partials/grid";
@import "partials/button";
@import "partials/clip_widget";
@import "partials/link_section";
@import "partials/select_list";
@import "partials/related_round";
@import "partials/root_category_block";
@import "partials/contents-parts";
@import "partials/breadcrumb";
@import "partials/login";
@import "partials/static_page";
@import "partials/modal";
@import "partials/head_banner";
@import "partials/cookieconsent";
