@import url("https://fonts.googleapis.com/css?family=Prompt:400,700,700i&display=swap");

.navbar_link,
.hero_title .title,
.post_article-heading,
.sub_nav li a,
.top-heroMain_content,
.section_heading,
.articleList_text,
.top-thumbnailList_item a,
.section_button,
.form-search_heading,
.top-restaurantList_text,
.sns_links-title,
.nav-text {
  font-family: "Prompt", sans-serif;
  letter-spacing: 0em;
  text-rendering: optimizeLegibility;
}
