// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "base/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "base/function";
@import "base/mixins";
@import "base/common";

/**
  layout
*/
@import "layout/section";
@import "layout/container";
@import "layout/hero";

/**
  partials
*/
@import "partials/advertisement";
@import "partials/critical";
@import "partials/footer";
@import "partials/search";
@import "partials/header";

// @import "page/top/hero";
@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import "partials/carousel";

@import "partials/article_list";
@import "partials/sns_links";
@import "partials/modal";
@import "partials/head_banner";
@import "partials/cookieconsent";
@import "page/traveling_safe_in_japan";
