.top {
  &_featureArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include mq(sm) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    &-item {
      border-radius: 2px;

      &>a {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        color: #fff;
        font-size: 1.6rem;
        border-radius: 2px;

        @include mq(sm) {
          font-size: 2.4rem;
        }

        &:hover {
          &::before {
            opacity: 0;
          }
        }

        &::before {
          background: rgba(0, 0, 0, .4);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          height: auto;
          opacity: 1;
          position: absolute;
          transition: opacity .6s ease;
          width: 100%;
          border-radius: 2px;
        }

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: calc(100% - 10px);
          height: calc(100% - 10px);
          border: 1px solid #fff;
          top: 5px;
          left: 5px;
          border-radius: 2px;
        }
      }
    }

    &-image {
      width: 100%;
      height: auto;
    }

    &-label {
      align-items: center;
      bottom: 0;
      color: #fff;
      display: flex;
      justify-content: center;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      font-weight: bold;
      text-shadow: 1px 1px 2px #333;
    }
  }
}
