.top-hero {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 294px;

  @include mq(sm) {
    min-height: 460px;
  }

  .slider {
    // height: 259px;
    width: 100%;

    // margin-bottom: 5vw;
    @include mq(sm) {
      // margin-bottom: 0;
      // min-height: auto;
      // max-height: 500px;
      //   height: initial;
    }
  }

  .control-dots {

    // bottom: -10px;
    // @include mq(sm) {
    //   bottom: 10px;
    // }
    .dot {
      opacity: 0.5;
      background-color: #dfdede !important;

      @include mq(sm) {
        opacity: 0.5;
        background-color: #ffffff !important;
      }

      &.selected {
        background-color: #9e9b9b !important;
        opacity: 1;

        @include mq(sm) {
          background-color: #ffffff !important;
          opacity: 1;
        }
      }
    }
  }

  .carousel {
    &.carousel-slider {
      // height: 280px;
      max-height: initial !important;
      padding-bottom: 4vw;

      @include mq(sm) {
        // height: auto;
        padding-bottom: 0;
      }

      .slide {

        // height: 250px;
        // @include mq(sm) {
        //   height: auto;
        // }
        img {

          // aspect-ratio: 15 / 8;
          // height: 182px;
          @include mq(sm) {
            // aspect-ratio: 9 / 4;
          }
        }
      }
    }

    .control-prev.control-arrow {
      border: solid #888888;
      border-width: 0 3px 3px 0;
      padding: 4px;
      border-radius: initial;
      transform: rotate(135deg);
      height: 13px;
      width: 13px;
      background: transparent;
      bottom: 3%;
      left: 3.5%;

      //(1035px * 100) / window.innerWidth
      @include mq(md) {
        border: solid white;
        border-width: 0 3px 3px 0;
        height: 18px;
        width: 18px;
        display: inline-block;
        top: 85%;
        left: 52%;
        margin-left: calc(-1035px / 2);
      }

      &:before {
        margin-left: 0px;
        content: initial;
      }
    }

    .control-next.control-arrow {
      border: solid #888;
      border-width: 0 3px 3px 0;
      padding: 4px;
      border-radius: initial;
      transform: rotate(-45deg);
      height: 13px;
      width: 13px;
      background: transparent;
      // left: 52%;
      bottom: 3%;
      top: initial;
      left: initial;
      right: 3.5%;

      @include mq(md) {
        height: 18px;
        display: inline-block;
        width: 18px;
        border: solid white;
        border-width: 0 3px 3px 0;
        top: 85%;
        right: 52%;
        left: initial;
        margin-right: calc(-1035px / 2);
      }

      &:before {
        content: initial;
      }
    }
  }
}

// top-hero slider contents area
.top-heroMain {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  position: relative;

  .swiper-slide {
    background: #000;
    position: relative;
    max-height: 100%;
  }

  &_item {
    display: block;
    // height: 182px;
    margin-bottom: 5px;
    width: 100%;

    @include mq(sm) {
      margin-bottom: initial;
      height: auto;
      width: initial;

      &::before {
        content: "";
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &_item+&_item {
    color: black;
    bottom: 0%;
    height: auto;
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;

    @include mq(sm) {
      position: absolute;
      color: white;
      padding: 0px;

      .top-heroMain_content {
        display: none;
        padding-top: 30px;
        background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.7));
      }

      div {
        border-bottom: 1px solid white;
      }
    }

    &:before {
      background: transparent;
    }
  }

  &_area {
    padding-left: 0;
    font-size: rem(16);
    position: relative;
    margin-bottom: 2px;

    @include mq(sm) {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      margin-bottom: 8px;
      font-size: rem(24);
    }

    &::before {
      content: "";
      display: inline-block;
      width: rem(14);
      height: rem(20);
      /*background: url("../images/shared/icon_area_black.png") no-repeat center
        center; */
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include mq(sm) {
        width: rem(22);
        height: rem(30);
      }
    }
  }

  &_category {
    display: none;
    padding-left: rem(25);
    position: relative;

    @include mq(sm) {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 8px;
      padding-left: rem(30);
      font-size: rem(24);
    }

    &::before {
      content: "";
      display: block;
      width: rem(18);
      height: rem(18);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include mq(sm) {
        width: rem(24);
        height: rem(24);
      }
    }

    /*&.is-todo::before {
      background-image: url("../images/shared/icon_todo_black.png");
    }
    &.is-tips::before {
      background-image: url("../images/shared/icon_tips_black.png");
    }
    &.is-shopping::before {
      background-image: url("../images/shared/icon_shopping_black.png");
    }
    &.is-food::before {
      background-image: url("../images/shared/icon_food_black.png");
    }
    &.is-hotel::before {
      background-image: url("../images/shared/icon_hotel_black.png");
    } */
  }

  &_content {
    @include mq(sm) {
      height: rem(26) * 7;

      align-items: center;
      padding-top: 30px;
    }
  }

  &_lead {
    margin-bottom: 6px;
    font-size: rem(16);
    font-weight: bold;
    max-height: rem(16) * 4 - 0.1 !important;
    height: rem(16) * 4- 0.1;
    line-height: 1.3;

    @include mq(sm) {
      margin-bottom: 12px;
      font-size: rem(26);
      line-height: 1.3;
      align-items: center;
      width: 84%;
      margin: 0 auto;
      margin-bottom: 1rem;
      height: auto;
      max-height: rem(26) * 4 !important;
    }
  }
}

@keyframes lineAnimation {
  0% {
    transform-origin: right;
    transform: scaleX(1);
  }

  50% {
    transform-origin: right;
    transform: scaleX(0);
  }

  51% {
    transform-origin: left;
    transform: scaleX(0);
  }

  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.top-heroSearch {
  padding: 0 12px 10vw;
  padding-top: 10vw;

  @include mq(sm) {
    padding: 50px 0 100px;
  }
}

.slide.selected .top-heroMain {
  &_item {
    opacity: 1;
  }

  &_content {
    opacity: 1;
    display: flex;
    transform: translate3d(0, 0, 0);
  }

  &_item:before {
    background: transparent;
    content: initial;
  }
}

@media all and (max-width: 700px) {
  .faker {
    position: relative;

    &:after {
      content: "";
      height: 100%;
      width: 100%;
      background: transparent;
      top: 0;
      position: absolute;
      left: 0;
    }
  }
}
